button{

}

.btn-default{
    @include btn-default;
    transition: all .3s ease-in-out;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    cursor: pointer;

    &:focus-visible{
        outline: unset;
    }

    &.btn-white{
        padding: 15px 30px;
        border: 2px solid $r-pink;
        color: $r-pink;
        margin-top: 3rem;
        font-weight: 600;
        position: relative;
        min-width: 11rem;

        /*&::before{
            content: '';
            position: absolute;
            background-color: $r-pink;
            width: 2px;
            height: 100%;
            top: 0;
            left: 12px;
        }

        &::after{
            content: '';
            position: absolute;
            background-color: $r-pink;
            width: 2px;
            height: 100%;
            top: 0;
            right: 12px;
        }*/

        &:hover{
            background-color: $r-pink;
            color: $white;
        }
    }
}
