#cursor{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    color: $gray-300;
    background: {
        color: rgba($gray-100,.5);
        // color: rgba($primary,.5);
        // image: url('../img/vectors/icon-cursor.svg');
        size: contain;
        repeat: no-repeat;
        position: center;
    }
    border: {
        color: transparent;
        width: 0;
        style: solid;
        radius: 50%;
    }
    // clip-path: circle(0);
    transform: translate(-50%, -50%);
    // mix-blend-mode: multiply;
    // overflow: hidden;
    pointer-events: none;
    transition: height .5s ease, width .5s ease, background-color .5s ease, border-width .5s ease, border-color .5s ease, clip-path .5s ease;
    z-index: 9999;

    .cursor--figure{
        display: none;
        position: absolute;
        height: 40rem;
        width: 60rem;
        object: {
            fit: cover;
            position: center;
        }
        // mix-blend-mode:screen;
        background-color: transparent;
        border: none;

        &[src]{
            display: block;
        }
    }

    // &:before{
    //     content: attr(data-label);
    //     display: block;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     color: currentColor;
    //     font: {
    //         family: $font-body;
    //         size: 0;
    //         weight: 400;
    //     }
    //     border-radius: 50%;
    //     text-transform: uppercase;
    //     letter-spacing: .05ch;
    //     transform: translate(-50%,-50%);
    //     z-index: 10;
    //     transition: color .4s ease, font-size .25s ease;
    // }

    &:before{
        // content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #1AFCC3 0%, #B1AAFF 100%);
        mix-blend-mode: darken;
        opacity: .5;
    }

    // &.mode{
    //     background: {
    //         color: rgba($gray-600,1);
    //     }
    //     mix-blend-mode: exclusion;

    //     &:before{
    //         color: $black;
    //         white-space: nowrap;
    //     }
    // }

    // &.figured{

    // }

    // On Hover (mouseover/mouseleave)
    &.active{
        height: 6rem;
        width: 6rem;
        background: {
            color: transparent;
        }
        border: {
            width: 1px;
        }


        &:before{
            font: {
                size: .8rem;;
            }
            text-align: center;
            vertical-align: middle;
            line-height: 1;
        }

        &.arrow{
            height: 10rem;
            width: 10rem;
            background-color: rgba($r-pink,.7);
            visibility: visible;
            cursor:grab;

            &:before{
                content: '';
                position: absolute;
                background: {
                    image: url("data:image/svg+xml, %3Csvg width='52' height='50' viewBox='0 0 52 50' fill='#{rgba($r-violet, .99)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M48.9371 27.4983L27.0097 49.4257L24.5733 46.9893L44.7561 26.8066L0.732207 27.0442L0.713608 23.5986L44.7995 23.3607L24.573 3.13422L27.0094 0.69781L48.9371 22.6255L48.9374 22.6252L51.3739 25.0616L51.3735 25.0619L51.3736 25.0619L48.9371 27.4984L48.9371 27.4983Z' fill='#{rgba($r-violet, .99)}'/%3E%3C/svg%3E");
                    position: center;
                    repeat: no-repeat;
                }
                z-index: 3;
                opacity: 1;
                transform: scale(.5) rotateZ(0);
                mix-blend-mode: hard-light;
            }

            &.reverse{
                &:before{
                    background-image: url("data:image/svg+xml,%3Csvg width='52' height='49' viewBox='0 0 52 49' fill='#{rgba($r-violet, .99)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.9902 48.9256L27.4266 46.4892L7.24378 26.3065L51.2677 26.5441L51.2863 23.0985L7.20038 22.8606L27.4269 2.63416L24.9905 0.197754L0.625977 24.5615L24.9902 48.9256Z' fill='#{rgba($r-violet, .99)}'/%3E%3C/svg%3E%0A");
                }
            }
        }

        // &.mode{
        //     background: {
        //         color: rgba($gray-600,1);
        //     }
        // }

        // &.figured{
        //     clip-path: circle(100vw);
        //     opacity: .75;
        //     background-color: rgba($gray-900, 0);
        //     mix-blend-mode:screen;
        // }

        &.drag{
            height: 10rem;
            width: 10rem;
            background-color: rgba($r-pink,.7);
            visibility: visible;
            cursor:grab;

            &:before{
                content: '';
                position: absolute;
                background: {
                    image: url("data:image/svg+xml,%3Csvg width='73' height='21' viewBox='0 0 73 21' fill='#{rgba($r-violet, .99)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70.0186 14.6481L68.4494 1.40676L70.8931 1.11704L73 18.893L55.2278 21L54.9381 18.5558L68.1658 16.9876C61.9955 11.9737 53.8339 5.90063 43.7718 3.76701C33.1059 1.50535 20.0425 3.63186 4.73313 16.9756L18.0619 18.5558L17.7722 21L0 18.893L2.1069 1.11704L4.55057 1.40676L2.99487 14.5342C18.7989 0.850744 32.7109 -1.6281 44.3904 0.848479C55.1559 3.13124 63.8012 9.59257 70.0186 14.6481Z' fill='#{rgba($r-violet, .99)}'/%3E%3C/svg%3E%0A");
                    position: center;
                    repeat: no-repeat;
                }
                z-index: 3;
                opacity: 1;
                transform: scale(.5) rotateZ(0);
                mix-blend-mode: hard-light;
            }
        }

        // &.closer{
        //     height: 8rem;
        //     width: 8rem;
        //     background: {
        //         color: rgba($primary,1);
        //     }

        //     &:before{
        //         content: '+';
        //         color: $white;
        //         font-size: 4.5rem;
        //         font-weight: lighter;
        //         height: 5rem;
        //         width: 2.5rem;
        //         transform-origin: 3.75rem -0.15rem;
        //         transform: rotateZ(45deg);
        //     }
        // }

        // // On Click (mousedown/mouseup)
        // &.click{
        //     height: 4rem;
        //     width: 4rem;
        //     background: {
        //         color: rgba($gray-200,1);
        //     }
        //     border: {
        //         width: 1px;
        //     }

        //     &:before{
        //         font: {
        //             size: 0;
        //         }
        //     }
        // }
    }
}