.filters {

    display: flex;
    flex-wrap: wrap;

    .row {
        border: 2px solid $r-blue;
        border-radius: 2rem;
    }

    @include media-breakpoint-down(sm){
        position: fixed;
        padding: 0 1rem;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $r-pink;
        will-change: transform;
        transform: translateY(calc(100% - 3.35rem));
        transition: transform .4s ease;
        z-index: 110;

        .filters-toggler{
            position: relative;
            width: 100%;
            text-align: left;
            background-color: transparent;
            border: none;
            // will-change: box-shadow;
            // box-shadow: 0 -5em 1.5em -2.5em rgba($black,0);
            // transition: box-shadow .4s ease;

            &:before{
                content:'\f282';
                display: inline-block;
                position: absolute;
                right: 0;
                margin-right: .5ch;
                height: 32px;
                width: 32px;
                color: inherit;
                font-family: bootstrap-icons !important;
                text-align: center;
                line-height: 1.8;
                will-change: transform;
                transform: rotate(180deg);
                transition: transform .4s ease;
                zoom: .8;
            }
            
            &.active{
                &:before{
                    transform: rotate(0);
                }
            }
        }

        &.active{
            transform: translateY(0);
            // box-shadow: 0 -5em 1.5em -5em rgba($black,.2);
        }
    }

    .heading{
        font: {
            family: $primary-font;
            weight: bold !important;
        }
        font-weight: bold;
        border-top: 1px solid $gray-300;
        border-bottom: 1px solid $gray-300;
    }

    .choice{
        text-align: center;
        background-color: $white;
        color: $black;
        border-radius: 2rem;
        width: 14rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        text-transform: lowercase;
        margin: 1px;
        
        @include media-breakpoint-down(sm){
            margin: .25em 0;
            text-align: left;
        }
        
        @include media-breakpoint-up(sm){
            // border-right: 1px solid $gray-300;
/*
            &:first-of-type{
                border-left: 1px solid $gray-300;
            }

            &:not(:last-child){
                border-right: 1px solid $gray-300;
            }*/
        }

        .filter-input {
            position: relative;
            display: block;
            width: 100%;
            cursor: pointer;

            &.disabled{
                pointer-events: none;
            }

            span{
                pointer-events: none;
                font-size: 1.6rem;
                font-weight: 700;

                @include media-breakpoint-down(sm){
                    &:before{
                        content:'\f26e';
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        margin-right: .5ch;
                        height: 32px;
                        width: 32px;
                        color: transparent;
                        font-family: bootstrap-icons !important;
                        text-align: center;
                        line-height: 1.8;
                        background-color: transparent;
                        border: 1px solid $gray-300;
                        border-radius: 50%;
                        zoom: .8;
                    }
                }
            }
    
            &:hover {
                span{
                    color: $white;

                    &:after{
                        transform: scaleX(1);
                        transform-origin:0 50%;
                    }
                }

                input:checked + span {
                    //color: $secondary;
                }
            }
    
            input {
                width: 0;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                pointer-events: none;
            }
    
            input:checked + span {
                //color: $gray-900;
        
                &:after{
                    transform: scaleX(1);
                    transform-origin:0 50%;
                }

                @include media-breakpoint-down(sm){
                    color: inherit;

                    &:before{
                        color: $white;
                        background-color: $secondary;
                        border: 1px solid $secondary;
                    }
                }
            }
        }

        &:hover {
            color: $white;
            background-color: $r-pink;
        }

    }
}


.filters-archive {
    border-top: 1px solid $gray-300;

    .choice{
        text-align: center;
        
        @include media-breakpoint-down(sm){
            margin: .25em 0;
            text-align: left;
        }
    }
}
