// TYPOGRAPHY

// 👉 Add the import of your project's webfonts (ex. Google Fonts, Iconfont, etc..)

// Iconfont
// Example: Bootstrap Icons 1.6.0
// @import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css'); // Already insert in function.php

// Fontface
// Example: Noto Sans (Google Fonts: https://fonts.google.com/specimen/Noto+Sans)
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;600&display=swap');
// @import url("https://use.typekit.net/hhx3kko.css");
// @import url("https://use.typekit.net/lcb3pho.css");

//@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Jost:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

// ✅ If you want you could create some variables fort easy font changing
// Paste the node_modules/bootstrap/scss/_variables.scss in there and change the values you want

// 👇 Something like this one below
$system-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Jost",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Gloock";

//$heading-font: "mostra-nuova", sans-serif;
//$primary-font: "dashiell-fine", sans-serif;
$heading-font: 'Barlow', serif;
$primary-font: 'Barlow', sans-serif;

* {
    /* Better Font Rendering */
    // text-rendering: optimizeLegibility; ⚠️ Optional - That Optimize Legibility (slower rendering)
    // text-rendering: optimizeSpeed; ⚠️ Optional - That Optimize Speed (faster rendering)
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $primary-font;
    font-size: 1rem;
}

h1,
.h1 {
    font-size: 12rem;
    font-weight: 300;
    font-family: $heading-font;

    @include media-breakpoint-down(lg) {
        font-size: 4rem;
    }
}

h2,
.h2 {
    font-size: 6rem;
    font-weight: 300;
    font-family: $heading-font;

    @include media-breakpoint-down(lg) {
        font-size: 3rem;
    }
}


h3,
.h3 {
    font-size: 5rem;
    font-weight: 300;
    font-family: $heading-font;

    @include media-breakpoint-down(lg) {
        font-size: 2.5rem;
    }
}

h4,
.h4 {
    font-size: 4rem;
    font-weight: 300;
    font-family: $heading-font;

    @include media-breakpoint-down(lg) {
        font-size: 2rem;
    }
}

h5,
.h5 {
    font-size: 3rem;
    font-weight: 300;
    font-family: $heading-font;

    @include media-breakpoint-down(lg) {
        font-size: 1.5rem;
    }
}

h6,
.h6{
    font-size: 1.78rem;
    font-weight: 300;
    font-family: $heading-font;
}

p, a {
    font-size: 1.78rem;
    color: $r-black;
}

a, button {
    font-family: $heading-font;
}

p{
    line-height: 2rem;
}
