.options {

  hr {
    color: $r-violet;
    background-color: $r-violet;
  }

  .header {
    background-color: transparent;
    border-color: $r-violet;

    a {
      &:hover {
        color: $r-violet;;

        @include media-breakpoint-down(lg) {
          color: $r-violet;;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      background-color: transparent;
    }


    #menu-toggler {

      .menu-toggler-bar {
        background-color: $r-pink;
      }

      &.active {

        .menu-toggler-bar {
          background-color: $white;
        }
      }
    }

    .quick-menu {
      float: right;
      background: transparent;

      li {
        float: right;
        padding: 1rem 0;
        margin: 0 0 0 0;

        a {
          color: $black;
          text-transform: none;
          font-weight: 700;
          transition: 0.3s all;
          padding-left: 4.5rem;
          padding-right: 4.5rem;
          margin-right: 0;
          margin-left: 0;

          &:hover {
            color: $t-blue;
            transition: 0.3s all;
          }
        }


        &.login-link {
          color: $white;
          background-color: $t-blue;
          border: 1px solid $t-blue;
          transition: 0.3s all;

          a {
            color: $white;
          }

          &:hover {
            color: $t-blue;
            background-color: $white;
            border: 1px solid $t-blue;
            transition: 0.3s all;

            a {
              color: $t-blue;
            }
          }
        }

      }
    }

  }

  #main-menu.active {
    //background-color: transparent;
    background: linear-gradient(135deg, rgba(238, 18, 81, .7) 0%, rgba(103, 41, 193, .7) 58.51%, rgba(29, 53, 253, .7) 100%);

    #menu-toggler.active {

      .menu-toggler-bar {
        background-color: $white !important;
      }
    }

  }

  .logo {
    background-color: transparent;

    @include media-breakpoint-down(md) {
      background-color: transparent;
    }
  }

  .footer {
    background-color: $r-pink;

    .info {
      border-color: $r-violet;;
    }

    a {
      &:hover {
        color: $r-violet;;
      }
    }
  }

  .hero {
    height: 60vh;

    .banner-title {
      img {
        margin-top: -50px;
      }

      h3 {
        color: $white;
        line-height: 6rem;
        text-transform: none;
      }

      p {
        color: $white;
      }
    }
  }

  .about-appartaments {
    margin: 15rem 0;

    h3 {
      color: $r-pink;
    }

  }

  //.experiences {
  //  background-color: #FDFAF5;
  //}

  .tease {


    .thumbnail {
      position: relative;
      height: auto;
      text-align: center;
      padding: 0;
      //border: 10px solid;
      //border-image-slice: 1;
      border-width: 5px;
      //border-radius: 0.8rem;
      //border-image-source: linear-gradient(to left, #E71358, #91229E, #442FDE);
      min-height: 27rem;
      padding-top: 2rem;


      &:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 10px;
        padding: 3px;
        background: linear-gradient(165deg, #E71358, #91229E, #442FDE);
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }

      &:hover {
        background: linear-gradient(165deg, #E71358, #91229E, #442FDE);
        border-radius: 10px;


        img {
          &.no-hover {
            height: 0;
            width: 0;
            opacity: 0;
            visibility: hidden;
          }
          &.hover {
            height: 10rem;
            width: 10rem;
            opacity: 1;
            visibility: visible;
          }
        }

        p {
          color: $white;
        }
      }

      img {
        display: inline-flex;
        padding: inherit;
        object-fit: contain;
        margin: 2rem auto;
        text-align: center;

        &.no-hover {
          height: 10rem;
          width: 10rem;
          opacity: 1;
          visibility: visible;
        }
        &.hover {
          height: 0;
          width: 0;
          opacity: 0;
          visibility: hidden;
        }
      }


      p {
        font-family: $primary-font;
        font-weight: 100;
        transition: all 0.5s ease-out;
        text-align: center;
        padding: 0.5rem 3rem;
      }

    }

    &:hover {

      .overlaybg {
        background: rgb(30, 30, 30);
        background: linear-gradient(350deg, rgba(30, 30, 30, 0) 40%, rgba(30, 30, 30, 1) 100%);
        transition: all 0.5s ease-out;
        opacity: 1;
      }

      .content {

        .datas {
          .category {
            color: $r-black;
          }

          .cursor {

            svg {
              stroke: $r-black;
              transition: all 0.5s ease-out;
              transform: translate(2rem, 0);
            }
          }
        }
      }
    }
  }

  .ap-service {

    color: $r-black;
    margin: 15rem 0;

    h3 {
      color: $r-pink;
    }

    h6 {
      color: $r-pink;
    }

    p {
      color: $r-black;
      font-family: $primary-font;
    }

    a {
      color: $r-black;
      font-family: $primary-font;
    }

    .app-included {
      display: flex;
      flex-wrap: wrap;

      li {
        color: $r-black;
        min-width: 50%;
        max-width: 100%;
        display: inline-flex;
        padding: 0.7rem;
        font-size: 1.4rem;

        &:before {
          content: " ";
          width: 1rem;
          height: 1rem;
          border-radius: 0;
          border: 1px solid $r-pink;
          background-color: $r-pink;
          margin: 0.2rem 1.5rem 0.2rem 0;
        }
      }
    }

    .app-extra {
      display: flex;
      flex-wrap: wrap;

      li {
        color: $r-black;
        width: 100%;
        display: inline-flex;
        padding: 0.7rem;
        font-size: 1.4rem;

        &:before {
          content: " ";
          width: 1rem;
          height: 1rem;
          border-radius: 0;
          border: 1px solid $r-pink;
          background-color: $r-pink;
          margin: 0.2rem 1.5rem 0.2rem 0;
        }
      }
    }

  }

  .hero-options {
    .leftcol {
      //background: linear-gradient(135deg, #EE1251 0%, #6729C1 58.51%, #1D35FD 100%);
      background: linear-gradient(135deg, rgba(238, 18, 81, 1) 0%, rgba(103, 41, 193, 1) 58.51%, rgba(29, 53, 253, 1) 100%);
      padding: 5rem 10rem;

      h3 {
        color: $white;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        padding-right: 12rem;
        padding-bottom: 3rem;
      }

      p {
        color: $white;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      form label {
        position: relative;
        margin: 0;
        width: 100%;
        color: inherit;
        padding: 1rem;
      }

      .wpcf7 {
        border-radius: 10px;
        //opacity: 0.1;
        //background: linear-gradient(233deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.1) 100%);
        background: linear-gradient(233deg, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.05) 100%);
        padding: 2rem;
        margin-top: 5rem;

        p {
          padding-bottom: 2rem;
        }
      }

      form .wpcf7-not-valid-tip {
        padding: 0.5em 1em;
        color: #fff;
        font-size: .8em;
      }

      form input[type="checkbox"]:checked ~ span:before {
        color: $white;
        background-color: $r-pink;
        border: 1px solid $r-pink;
      }

      span.wpcf7-list-item-label {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        opacity: 0.9;
      }

      form input[type="submit"] {
        width: 155px;
        padding: 1rem 0;
        flex-shrink: 0;
        background: $r-blue;
        color: $white;
        border: none;
        border-radius: 0;
        font-weight: 700;
        z-index: 5;
        position: absolute;
        top: 0;
        left: 34%;
        transition: all 0.3s ease-out;
      }


      .btn-after {
        width: 155px;
        padding: 1rem 0;
        flex-shrink: 0;
        color: $r-blue;
        background: $white;
        border: none;
        border-radius: 0;
        font-weight: 700;
        display: flex;
        min-height: 42px;
        position: absolute;
        top: 0.7rem;
        left: 35%;
        z-index: 0;
        transition: all 0.3s ease-out;
      }

      .submit-header p {
        &:hover {
          .btn-after {
            top: -0.7rem;
            left: 32.8%;
            transition: all 0.3s ease-out;
          }

        }
      }

      input::-webkit-input-placeholder {
        color:$black;
      }

      ::-moz-placeholder {
        color:$black;
      }

      :-ms-input-placeholder {
        /** notice that ie has only a single colon) */
        color:$black;
      }

      ::-webkit-input-placeholder {
        color:$black;
      }

      ::placeholder {
        color:$black;
      }

    }
  }

  .results {
    h2 {
      color: #2C2C2C;
      text-align: center;
      font-size: 6rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

}

