{% extends 'base.twig' %}

{% set template = 'pages/homepage' %}
{% block body_class %}homepage{% endblock %}
{% block page_class %}home{% endblock %}

{% block content %}
    {% set color = post.get_field('hero').background_color %}

    {% include 'layout/sections/homehero.twig' with {
        id: 'homehero',
        image: Image(post.get_field('hero').image).src,
        title: post.get_field('hero').title,
        aftertitle: post.get_field('hero').aftertitle,
        bg: post.get_field('hero').background_color,
        video: post.get_field('hero').video,
    } %}

    {% include 'layout/sections/features.twig' with {
        id: 'features',
        beforetitle: post.get_field('features').beforetitle,
        title: post.get_field('features').title,
        description: post.get_field('features').description,
        features: post.get_field('features').features,
    } %}

    {% include 'layout/sections/cta-appartaments.twig' with {
        id: 'cta-appartaments',
    } %}

    {# {% include 'layout/sections/related.twig' with {
        id: 'experiences',
        title: post.get_field('gallery').title,
        description: post.get_field('gallery').description,
        gallery: post.get_field('gallery').gallery,
        cta: post.get_field('gallery').cta,
    }%} #}

    {% include 'layout/sections/section.twig' with {
        id: 'section',
        title: post.get_field('section')[0].title,
        description: post.get_field('section')[0].description,
        color: post.get_field('section')[0].color,
        version: 'content'
    } %}

    {% include 'layout/sections/lounge.twig' with {
        id: 'lounge',
        lounge: post.get_field('lounge').lounge[0],
        version: 'img-left'
    } %}

    {% include 'layout/sections/lounge.twig' with {
        id: 'lounge',
        lounge: post.get_field('lounge').lounge[1],
        version: 'img-right'
    } %}

    {% include 'layout/sections/lounge.twig' with {
        id: 'lounge',
        lounge: post.get_field('lounge').lounge[2],
        version: 'img-left'
    } %}

    {% include 'layout/sections/lounge.twig' with {
        id: 'lounge',
        lounge: post.get_field('lounge').lounge[3],
        version: 'img-right'
    } %}

    {% include 'layout/sections/section.twig' with {
        id: 'section',
        title: post.get_field('section')[1].title,
        description: post.get_field('section')[1].description,
        color: post.get_field('section')[1].color,
        bg: post.get_field('section')[1].bg,
        btn: post.get_field('section')[1].cta_link,
        version: 'bg-content'
    } %}


    <section id="{{ id }}" class="section content text-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 title mb-5">
                    <h6 class="mb-4 text-uppercase" style="color: {{ color }}"
                        data-animation="title">{{ __("Social Gallery") }}</h6>
                    <h3 class="mb-4" data-animation="title">{{ title }}</h3>
                    <p class="description mb-5">{{ description }}</p>

{#                    <small>{{ options.social.instagram }}</small>#}
                    <div class="instagram-posts">
                        {{ shortcode('[instagram_fourth_posts profile_url="https://instagram.com/procoder"]') }}
{#                        {{ Timber::compile_string('[instagram_fourth_posts profile_url="https://instagram.com/procoder"]')|raw }}#}
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
