{% extends 'base.twig' %}

{% set template = 'pages/options' %}
{% block body_class %}options{% endblock %}
{% block page_class %}options{% endblock %}

{% block content %}

    {% set hero = post.get_field('hero') %}
    {% set maintitle = post.get_field('main_option_title') %}

    <section id="hero-options" class="pt-1 mt-5 hero-options">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="leftcol col-12 col-md-6 align-self-stretch">
                    <h3 class="mb-4" data-animation="title">{{ hero.title }}</h3>
                    <p class="mb-4">{{ hero.description }}</p>
                    {% filter shortcodes %}
                        [contact-form-7 id="{{ hero.contact_form }}"]
                    {% endfilter %}
                </div>
                <div class="col-12 col-md-6 p-0 align-self-stretch">
                    <img src="{{ Image(hero.image).src }}" alt="{{ Image(hero.image).alt }}" class="w-100 img-fluid"/>
                </div>
            </div>
        </div>
    </section>
    <section id="all-appartaments" class="pb-sm-5 results">
        <div class="container-fluid">
            <div class="row">
                <div class="py-5 my-5 col-sm-12 col-md-12">
                    <h2 class="text-center">{{ maintitle }}</h2>
                </div>
            </div>
        </div>
        <div class="container">
            {% block filters %}
                <div class="row">
                    <div id="filters" class="justify-content-center my-5 filters">

                        <div class="row">
                            <div class="text-center py-sm-3 choice">
                                <label class="mb-0 px-2 py-2 filter-input disabled">
                                    <input id="filter-all" type="checkbox" class="m-1" data-terms="all"
                                           data-label="{{ __('All','procoder') }}" checked>
                                    <span for="filter-all"
                                          class="btn-underline-animated">{{ __('All','procoder') }}</span>
                                </label>
                            </div>
                            {% for state in states %}
                                <div class="text-center py-sm-3 choice">
                                    <label class="mb-0 px-2 py-2 filter-input">
                                        <input id="filter-{{ state.name }}" type="checkbox" class="m-1"
                                               data-terms="{{ state.slug }}" data-label="{{ state.name }}">
                                        <span for="filter-{{ state.name }}"
                                              class="btn-underline-animated">{{ state.name }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="container px-0">
            <div class="align-middle row my-3 gx-5 posts">
                {% for post in posts %}
                    {% block tease %}
                        {% include ['tease-'~post.appartaments~'.twig', 'components/tease.twig'] with {
                            'item': post,
                            'classes': '',
                            'term': topic,
                        } %}
                    {% endblock %}
                {% endfor %}
            </div>
            {% block disclaimer %}
                <div id="disclaimer" class="row justify-content-center py-5 disclaimer">
                    <div class="col-auto">
                        <h6 class="h3">{{ __('Purtroppo non esistono contenuti con i filtri selezionati','procoder') }}</h6>
                    </div>
                </div>
            {% endblock %}
            {% block load_more %}
                <div class="row mt-3 mt-sm-5 pagination">
                    <button id="loadmore" class="btn btn-underline">{{ __('Carica di più','procoder') }} <i
                                class="ms-1 bi bi-plus-square-dotted"></i></button>
                    {% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
                </div>
            {% endblock %}
        </div>
    </section>



{% endblock %}
