{% extends "base.twig" %}

{% set template = 'pages/privacy' %}
{% block body_class %}privacy{% endblock %}
{% block page_class %}privacy{% endblock %}

{% block content %}

    {% include 'layout/sections/hero.twig' with {
        page: 'about',
        id: 'privacy',
        image: Image(post.get_field('hero').image).src,
        title: post.get_field('hero').title,
        bg: post.get_field('hero').background_color,
        video: post.get_field('hero').video,
    }%}

    <section id="" class="py-5">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-9 py-5">
                    <div class="content mt-5">{{ post.content }}</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}