{% if menu %}
    <ul class="nav ml-auto {{ menu_class }} {{ classes }}">
        {% for item in menu %}
            <li class="nav-item {{ item.classes | join(' ') }} {% if item.children | length > 0 %}dropdown{% endif %}">
                <a class="nav-link" target="{{ item.target }}" href="{{ item.link }}" data-children='
				{{ function('json_encode', item.children) }}'>{{ item.title }}</a>
                {% if item.children | length > 0 %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for subitem in item.children %}
                            <li class="">
                                <a class="dropdown-item" target="{{ subitem.target }}"
                                   href="{{ subitem.link }}">{{ subitem.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container ml-auto pb-5 flex-column align-items-start menu-social">
    <div class="row px-3 pb-3 px-md-5 pb-5 social-links">
        <p>
            {{ __('Follow Us','procoder') }}
        </p>
        <div class="socials">
            {% if options.social.facebook %}
                <p class="mx-4">
                    <a target="{{ options.social.facebook }}"
                       href="{{ options.social.facebook }}">
                        <i class="bi bi-facebook"></i>
                    </a>
                </p>
            {% endif %}
            {% if options.social.instagram %}
                <p class="mx-4">
                    <a target="{{ options.social.instagram }}"
                       href="{{ options.social.instagram }}">
                        <i class="bi bi-instagram"></i>
                    </a>
                </p>
            {% endif %}
            {% if options.social.linkedin %}
                <p class="mx-4">
                    <a target="{{ options.social.linkedin }}"
                       href="{{ options.social.linkedin }}">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </p>
            {% endif %}
            {% if options.social.tripadvisor %}
                <p class="mx-4">
                    <a target="{{ options.social.tripadvisor }}"
                       href="{{ options.social.tripadvisor }}">
                        <img src="{{ site.theme.link }}/dist/img/icons/tripadvisor.svg">
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
