.about-info {
    //margin-top: 200px;
    margin-top: 15rem;

    @include media-breakpoint-down(md) {
        margin-top: 15rem;
    }

    h3{
        color: $r-pink;
    }

    p{
        margin-bottom: 4rem;

        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
        }
    }

    .gallery{
        @include media-breakpoint-down(md) {
            text-align: center;
            margin-top: 2rem;
        }
    }
}