.appartaments-lounges {
    position: relative;
    margin-top: 57px;
    background-color: #FDFAF5;

    @include media-breakpoint-down(lg) {
        margin-top: 150px;
    }

    .menu {
        background-color: $r-pink;
    }

    nav {
        position: sticky;
        top: 105px;
        background-color: $r-pink;

        &.sala-rossa{
            background-color: $r-pink;
        }

        &.sala-oro{
            background-color: $r-pink;
        }

        &.sala-verde{
            background-color: $r-pink;
        }

        &.cantina{
            background-color: $r-pink;
        }

        @include media-breakpoint-down(lg) {
            top: 87.25px;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }


        a {
            color: rgba(30, 15, 10, 0.40);
            font-size: 20px;
            line-height: 30px;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            margin-right: 85px;
            padding: 6px 0;
            display: block;

            @include media-breakpoint-down(lg) {
                margin-right: 30px;
            }

            &.active{
                color: white;
            }
        }

        li {
            display: inline-block;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;

            @include media-breakpoint-down(md) {
                display: block;
                padding: 0 10px;
            }
        }

    }

    img {
        width: 100%;
    }

    .long {
        margin-top: 6rem;

        &:nth-child(1) {
            margin-top: 3rem;
        }

        &:nth-child(2),
        &:nth-child(3) {
            .title-desc {
                text-align: right;
                margin-right: auto;

                @include media-breakpoint-down(md) {
                    text-align: left;
                }
            }
        }

        &:nth-child(4) {
            .desc {
                margin-top: 3rem;
            }
        }

        @include media-breakpoint-down(md) {
            margin-top: 3rem;
        }
    }

    .title-desc {
        margin: 0 auto;
        margin-right: 0;        @include media-breakpoint-down(md) {
            max-width: fit-content;
            margin-bottom: 3rem;
        }
        max-width: 500px;

        @include media-breakpoint-down(md) {
            max-width: fit-content;
            margin-bottom: 3rem;
        }
    }

    .lounge-items{
        min-height: 100vh;
    }
}