.contact {
    .info-map {
        background-color: $r-pink;
        padding: 18rem 0;
        color: $white;
        min-height: 70vh;
        margin-bottom: 25rem;


        @include media-breakpoint-down(md) {
            padding: 70px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 30px 0;
        }

        .wpgmza_map {
            height: 60rem !important;
            position: absolute !important;
            top: 0;

            @include media-breakpoint-down(md) {
                position: relative !important;
                margin-top: 3rem;
            }

            @include media-breakpoint-down(sm) {
                height: 400px !important;
            }
        }

        p {
            color: $white;
            font-family: $primary-font;
            font-size: 1.65rem;
            font-weight: 100;
        }

        a {
            font-family: $primary-font;

            &:hover{
                color: $r-violet;;
            }
        }

        h6 {
            font-weight: 600;
        }

        h1 {
            line-height: 9rem;
            margin-bottom: 4rem;

            @include media-breakpoint-down(xl) {
                font-size: 9rem;
            }

            @include media-breakpoint-down(lg) {
                font-size: 7rem;
            }
        }

        .contact {
            a {
                margin-bottom: 1rem;
                display: inline-block;
                width: 100%;
                font-family: $primary-font;

                &:hover{
                    color: $r-violet;;
                }
            }
        }

        .btn-default.btn-white {
            color: $white;
            border-color: $white;

            &:hover,
            &::before,
            &::after {
                background-color: $white;
                color: $r-pink;
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 2rem;
            }
        }
    }

    .contact-form {
        padding: 200px 0 100px 0;

        @include media-breakpoint-down(md) {
            padding: 5rem 0;
        }

        .form-contact {
            max-width: 750px;
            margin: 0 auto;
        }

        h3 {
            color: $r-pink;
            margin-bottom: 2rem;
        }

        h6 {
            font-family: $primary-font;
            font-weight: 100;
        }

        p {
            margin-bottom: 6rem;
            font-family: $primary-font;
        }

        input,
        textarea {
            border: none;
            border-bottom: 1px solid rgba(30, 15, 10, 0.40);
            border-radius: unset;
            padding: 1rem 0;
            margin-bottom: 5rem;

            &::placeholder {
                color: rgba(30, 15, 10, 0.40);
                text-transform: uppercase;
            }

            &~span:before {
                border-radius: 3px;
                border: 1px solid rgba(115, 115, 115, 0.30);
                background: #E7E7E7;
                height: 1.2rem;
                width: 1.2rem;
                display: flex;
                align-items: center;
                margin-top: 5px;
                justify-content: center;
            }
        }

        span {
            color: rgba(30, 15, 10, 0.60);
            font-size: 12px;
            height: auto;
            text-align: left;

            b {
                font-size: 12px;
            }
        }

        .btn-default.btn-white {
            color: $r-pink;
            border-color: $r-pink;
            margin-top: 0 !important;
            width: auto;
            background-color: transparent;
            color: $r-pink;
            font-size: 12px;
                
            &:hover,
            &::before,
            &::after {
                background-color: $r-pink;
                color: $white;
            }

        }
    }
}