.cta-appartaments{
    .banner-title{
        padding-top: 190px;
        max-width: 660px;
        margin: 0 auto;

        @include media-breakpoint-down(md) {
            padding-top: 90px;
            max-width: fit-content;
        }

        @include media-breakpoint-down(sm){
            padding-top: 120px;
        }
    }
}