.experiences {
  margin-top: 10rem;
  padding: 8rem 0 1.8rem 0;
  border-top: 1px solid $r-pink;
  background-color: transparent;

  @include media-breakpoint-down(md) {
    padding: 4rem 0;
  }


  h3 {
    color: $r-pink;
  }

  .banner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: none;

    @include media-breakpoint-up(md) {
      display: block;
    }

    p {
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }
  }

  .btn-default.btn-white {
    color: $r-pink;
    border-color: $r-pink;

    &:hover,
    &::before,
    &::after {
      background-color: $r-pink;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 5rem;
    }
  }

  .container {
    position: relative;
  }

  .slider-experience {
    position: relative;
    height: 100%;
    width: 100%;
    transform: none;

    @include media-breakpoint-up(md) {
      height: 100%;
      position: relative;
      width: 100%;
      transform: none;
      // margin-top: 3rem;
    }

    .swiper-wrapper {
      transition-timing-function: linear;
    }

    .swiper-slide {

      .datas {
        position: absolute;
        top: 4rem;
        left: 4rem;
        color: $white;
        max-width: 70%;

        a {
          color: $white;
          font-family: $primary-font !important;
          font-weight: 500;
        }

        h3 {
          color: $white;
        }

        p {
          color: $white;
          font-family: $primary-font !important;
          font-weight: 500;
        }


        h6 {
          color: $white;
          font-family: $primary-font !important;
          font-weight: 500;
        }

        .cursor {
          svg {
            transition: all 0.5s ease-out;
            transform: none;
          }
        }
      }

      img {
        width: 100%;
        height: 90vw;
        object-fit: cover;
        object-position: center;

        @include media-breakpoint-up(md) {
          height: 50vw;
        }

      }

      &:hover {
        .datas {
          .cursor {
            svg {
              transition: all 0.5s ease-out;
              transform: translate(2rem, 0);
            }
          }
        }


        .overlaybg {
          background: rgb(30, 30, 30);
          background: linear-gradient(350deg, rgba(30, 30, 30, 0) 40%, rgba(30, 30, 30, 1) 100%);
          transition: all 0.5s ease-out;
          opacity: 1;
        }

      }

    }

    &.is-dragging {
      cursor: grabbing;
    }


  }

}

.about {
  .experiences {
    padding: 100px 0;
  }
}