.featured-block {
  color: $white;
  margin: 15rem 0 10rem 0;

  .feature {
    min-height: 80rem;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
    padding: 4rem 6rem;
    background-size: 95%;
    position: relative;
    transition: all 0.5s ease-out;

    .overlaybg {
      position: absolute;
      background: transparent;
      top: 0;
      left: 1.4rem;
      width: 95%;
      height: 100%;
      z-index: 0;
      transition: all 0.5s ease-out;
      opacity: 0;
    }


    &:hover {
      .overlaybg {
        background: rgb(30, 30, 30);
        background: linear-gradient(350deg, rgba(30, 30, 30, 0) 40%, rgba(30, 30, 30, 1) 100%);
        transition: all 0.5s ease-out;
        opacity: 1;
      }

      transition: all 0.5s ease-out;

    }


    h3 {
      color: $white;
    }

    p {
      color: $white;
      z-index: 1;
      position: relative;
    }

    .btn-default.btn-white {
      color: $white;
      border-color: $white;

      &:hover,
      &::before,
      &::after {
        background-color: $white;
        color: $r-pink;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 2rem;
      }
    }
  }
}
