.features {
    margin-bottom: 18rem;
    background-color: $r-pink;
    padding: 10rem 0 14rem 0;

    @include media-breakpoint-down(md) {
        margin-bottom: 5rem;
    }

    h3 {
        color: $white;
    }

    h6 {
        color: $white;
        font-weight: 500;
        font-family: $primary-font;
    }

    p {
        color: $white;
    }

    img {
        border: 1px solid $white;
        border-radius: 50%;
    }

    .description {
        margin-bottom: 6rem;

        @include media-breakpoint-down(md) {
            margin-bottom: 3rem;
        }
    }

    .icon-desc {
        font-size: 1.78rem;

        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
        }
    }

    .btn-default.btn-white {
        color: $white;
        border-color: $white;
        margin-top: 8rem;

        @include media-breakpoint-down(md) {
            margin-top: 2rem;
        }

        &:hover,
        &::before,
        &::after {
            background-color: $r-pink;
        }
    }
}