.footer-booking {
  color: $r-black;
  margin: 15rem 0;

  h3 {
    color: $r-pink;
  }


  // Booking Expert

  #bookingexpert {
    background: #FDFAF5;
    overflow: hidden;
    font-size: 12px;
    padding: 0;
  }

  #searchbox .searchboxAdd,
  #searchbox .searchboxCredits,
  #searchbox .searchboxArea,
  #searchbox .searchboxTitle,
  #searchbox label {
    display: none !important;
  }
  #searchbox {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  #searchbox form {
    padding: 0;
    width: 100%;
    display: block;
  }

  #searchbox .arrival,
  #searchbox .departure,
  #searchbox .adults,
  #searchbox .sconto {
    width: 14.1%;
    display: inline-flex;
    height: 100%;
    padding: 1.6rem 1rem;
  }

  #searchbox div[name="eta"] {
    width: 100%;
    display: inline-flex;
    height: 100%;
    min-width: 5rem;
  }

  #searchbox label {
    display: block;
    line-height: 20px;
    font-size: 12px;
    color: #1E1E1E;
    text-transform: uppercase;
    position: relative;
  }

  #searchbox input, #searchbox select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 5px;
    border: none;
    box-sizing: border-box;
    background: transparent !important;
    color: #1E1E1E !important;
  }

  #searchbox input[type="submit"] {
    font-family: "Gloock",serif;
    border-radius: 0;
    display: block;
    float: right;
    //width: 14.1%;
    height: 100%;
    line-height: inherit;
    margin: 0;
    font-weight: 600;
    text-transform: none;
    background-color: #A5432E !important;
    color: #fff !important;
    border: 0;
    cursor: pointer;
    font-size: 2.2rem;
    -webkit-appearance: none;
  }

  #searchbox .searchboxAdd {
    top: 6px;
  }

  #searchbox .searchboxArea {
    top: 27px;
  }

  #ui-datepicker-div {
    font-size: 11px !important;
    z-index: 1000 !important;
  }

  /* --- responsive --- */

  @media (max-width:600px) {
    #searchbox {
      display: block;
    }
    #searchbox form {
      float: none;
      padding: 10px 20px 20px 20px;
      margin-bottom: 20px;
    }
    #searchbox input[type="submit"] {
      width: 100%;
    }
    #searchbox div {
      float: none;
      margin: 10px 0 0 0;
    }
  }

}
