.hero {
    //height: 850px;
    //z-index: 9;
    //margin-top: -8rem;
    //background-size: cover;
    //background-position: 80%;
    height: 100vh;
    z-index: 9;
    margin-top: 0;

    .overlay {
        height: 60vh;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-position: 80%;
        z-index: -1;
    }

    @include media-breakpoint-down(lg) {
        height: 500px;
    }

    @include media-breakpoint-down(md) {
        height: 400px;
    }

    @include media-breakpoint-down(sm) {
        height: 350px;
    }

    /*.thumbnail, video {
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;

        @include media-breakpoint-down(lg) {
            padding: 0 15px;
            height: 400px;
        }

        @include media-breakpoint-down(sm) {
            height: 350px;
        }
    }

    .thumbnail{
        @include media-breakpoint-down(sm) {
            margin: 0 15px;
        }
    }*/

    .afterthumbnail {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        min-height: 100%;
    }

    .banner-title {
        margin-top: 18rem;

        @include media-breakpoint-down(md) {
            margin-top: 5rem;
        }


        h1 {
            color: white;
            z-index: 999;
            position: relative;
            font-size: 4rem;
            line-height: 6rem;

            @include media-breakpoint-down(lg) {
                line-height: 4.5rem;
            }
        }

        h3{
            color: $r-pink;
            line-height: 6rem;
            text-transform: none;
        }

        p{
            color: $r-black;
            max-width: 70%;
            margin: 0 auto 2rem auto;
            font-family: $primary-font;

            @include media-breakpoint-down(md) {
                margin-bottom: 2rem;
            }
        }

        img {
            margin-top: -70px;
            z-index: -1;
            position: relative;
            width: 100%;

            @include media-breakpoint-down(lg) {
                line-height: 5.5rem;
            }
        }
    }
}

.homehero {
    height: 100vh;
    z-index: 9;
    margin-top: 0;
    background-size: cover;
    background-position: 80%;

    @include media-breakpoint-down(lg) {
        height: 100vh;
    }

    @include media-breakpoint-down(md) {
        height: 100vh;
    }

    @include media-breakpoint-down(sm) {
        height: 100vh;
    }

    .thumbnail, video {
        height: 657px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;

        @include media-breakpoint-down(lg) {
            padding: 0 15px;
            height: 400px;
        }

        @include media-breakpoint-down(sm) {
            height: 350px;
        }
    }

    .thumbnail{
        @include media-breakpoint-down(sm) {
            margin: 0 15px;
        }
    }


    .banner-title {
        margin-top: 50%;

        @include media-breakpoint-down(md) {
            margin-top: 5rem;
        }


        h1 {
            color: white;
            z-index: 999;
            position: relative;
            font-size: 4.5rem;
            line-height: 6rem;
            font-weight: 400;
            letter-spacing: 0.1px;

            @include media-breakpoint-down(lg) {
                line-height: 4.5rem;
            }
        }

        p {
            color: white;
        }

        img {
            margin-top: -70px;
            z-index: -1;
            position: relative;
            width: 100%;

            @include media-breakpoint-down(lg) {
                line-height: 5.5rem;
            }
        }
    }
}

.apphero {
    height: 100%;
    z-index: 9;
    padding-top: 10rem;
    display: flex;
    background-color: transparent;
    margin: 0 0 15rem 0;

    .overlay {
        background-color: $r-pink;
        height: 70vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    @include media-breakpoint-down(lg) {
        height: 100vh;
    }

    @include media-breakpoint-down(md) {
        height: 100vh;
    }

    @include media-breakpoint-down(sm) {
        height: 100vh;
    }

    .thumbnail, video {
        height: 657px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;

        @include media-breakpoint-down(lg) {
            padding: 0 15px;
            height: 400px;
        }

        @include media-breakpoint-down(sm) {
            height: 350px;
        }
    }

    .thumbnail{
        @include media-breakpoint-down(sm) {
            margin: 0 15px;
        }
    }


    .banner-title {
        margin-top: 10rem;

        @include media-breakpoint-down(md) {
            margin-top: 5rem;
        }

        h3 {
            color: $r-pink;
            z-index: 999;
            position: relative;
            font-size: 4.5rem;
            line-height: 6rem;
            font-weight: 400;
            letter-spacing: 0.1px;

            @include media-breakpoint-down(lg) {
                line-height: 4.5rem;
            }
        }

        p {
            color: $r-black;
        }

        img {
            margin-top: 0;
            z-index: -1;
            position: relative;
            width: 100%;

            @include media-breakpoint-down(lg) {
                line-height: 5.5rem;
            }
            &.icon {
                width: 14rem;
                height: auto;
                text-align: center;
                margin: -7rem auto 2rem auto;
            }
        }
    }
}


// Booking Expert

#bookingexpert {
    background: #FDFAF5;
    overflow: hidden;
    font-size: 12px;
    padding: 0;
}

#searchbox .searchboxAdd,
#searchbox .searchboxCredits,
#searchbox .searchboxArea,
#searchbox .searchboxTitle,
#searchbox label {
    display: none !important;
}
#searchbox {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
#searchbox form {
    padding: 0;
    width: 100%;
    display: block;
}

#searchbox div {
    width: 14.1%;
    display: inline-flex;
    height: 100%;
    padding: 1.6rem 1rem;
}

#searchbox div[name="eta"] {
    width: 100%;
    display: inline-flex;
    height: 100%;
    min-width: 5rem;
}

#searchbox label {
    display: block;
    line-height: 20px;
    font-size: 12px;
    color: #1E1E1E;
    text-transform: uppercase;
    position: relative;
}

#searchbox input, #searchbox select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 5px;
    border: none;
    box-sizing: border-box;
    background: transparent !important;
    color: #1E1E1E !important;
}

#searchbox input[type="submit"] {
    font-family: "Gloock",serif;
    border-radius: 0;
    display: block;
    float: right;
    width: 14.1%;
    height: 100%;
    line-height: inherit;
    margin: 0;
    font-weight: 600;
    text-transform: none;
    background-color: #A5432E !important;
    color: #fff !important;
    border: 0;
    cursor: pointer;
    font-size: 2.2rem;
    -webkit-appearance: none;
}

#searchbox .searchboxAdd {
    top: 6px;
}

#searchbox .searchboxArea {
    top: 27px;
}

#ui-datepicker-div {
    font-size: 11px !important;
    z-index: 1000 !important;
}

/* --- responsive --- */

@media (max-width:600px) {
    #searchbox {
        display: block;
    }
    #searchbox form {
        float: none;
        padding: 10px 20px 20px 20px;
        margin-bottom: 20px;
    }
    #searchbox input[type="submit"] {
        width: 100%;
    }
    #searchbox div {
        float: none;
        margin: 10px 0 0 0;
    }
}