.history {
    margin-top: 215px;

    @include media-breakpoint-down(md) {
        margin-top: 60px;
    }

    h1 {
        font-size: 30rem;
        position: absolute;
        right: 15rem;
        z-index: 0;
        top: 5rem;

        @include media-breakpoint-down(lg) {
            font-size: 15rem;
        }

        @include media-breakpoint-down(md) {
            text-align: center;
            position: relative;
            right: 0;
            top: 0;
        }
    }

    p {
        max-width: 580px;
        z-index: 1;

        @include media-breakpoint-down(md) {
            max-width: fit-content;
            margin-bottom: 3rem;
            padding: 0 10px;
        }
    }

    img {
        margin: 0 auto;
    }

    .swiper-slide {
        height: 100vh;

        @include media-breakpoint-down(md) {
            height: auto;
        }
    }

    .desc-img {

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    .item-slide {
        &:nth-child(2n) {

            @include media-breakpoint-down(md) {
                margin-top: 160px;
                display: block;
            }

            display: flex;
            width: 100%;

            .desc-img {
                flex-flow: row-reverse;
                width: 100%;
                margin-top: 13rem;

                @include media-breakpoint-down(md) {
                    text-align: center;
                    margin-top: 0;
                }

                p {
                    text-align: end;

                    @include media-breakpoint-down(md) {
                        text-align: center;
                    }
                }
            }

            h1 {
                top: 0;
                left: 5rem;
                right: 0;

                @include media-breakpoint-down(md) {
                    left: 0;
                }
            }

            img {
                margin-left: 5rem;

                @include media-breakpoint-down(md) {
                    margin-left: 0;
                }
            }
        }
    }

    .swiper-button-prev {
        left: 0;
        height: 100%;
        width: 20%;
        top: 0;

        &:after{
            font-size: 0;
        }
    }

    .swiper-button-next {
        right: 0;
        height: 100%;
        width: 20%;
        top: 0;

        &:after{
            font-size: 0;
        }
    }

    .swiper-button {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        z-index: 1;
        background-image: url('../img/vectors/swiper-button.svg');
        width: 124px;
        height: 124px;
        mix-blend-mode: multiply;
    }
}