.jolly-block {
    //margin-top: 200px;
    margin-top: 15rem;

    @include media-breakpoint-down(md) {
        margin-top: 15rem;
    }

    h3 {
        color: $r-pink;
    }

    p {
        margin-bottom: 4rem;

        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
        }
    }

    .gallery{
        @include media-breakpoint-down(md) {
            text-align: center;
            margin-top: 2rem;
        }
    }

    .firstimg {

        text-align: center;

        @include media-breakpoint-down(md) {
            margin: 2rem 0;
        }

        img {
            max-height: 40rem;

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }

    .secimg {

        text-align: center;

        @include media-breakpoint-down(md) {
            margin: 2rem 0;
        }

        img {
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
}