.lounge{
    height: 500px;
    margin-bottom: 8rem;

    @include media-breakpoint-down(md) {
        height: auto;
        margin-bottom: 3rem;
    }

    h4{
        padding: 23px 15px;
        margin-bottom: 7rem;
        color: $white;

        @include media-breakpoint-down(md) {
            margin: 2rem 0 3rem 0;
        }
    }

    img{
        position: absolute;
        z-index: -1;
        width: 52%;
        height: 100%;
        object-fit: cover;

        @include media-breakpoint-down(xl) {
            width: 50%;
        }

        @include media-breakpoint-down(md) {
            position: relative;
            width: 100%;
        }
    }

    p{
        max-width: 460px;

        &:empty :not(p + p:empty){
            display: none;
         }

        @include media-breakpoint-down(xl) {
            max-width: initial;
        }
    }

    //right
    .img-right{
        right: 0;
    }

    .content-right{
        h4{
            margin-right: -5rem;

            @include media-breakpoint-down(md) {
                margin-right: 0;
            }
        }

        p{
            margin-left: 5rem;

            @include media-breakpoint-down(md) {
                margin-left: 0;
            }
            
        }
    }


    //left
    .img-left{
        left: 0;
    }

    .content-left{

        h4{
            margin-left: -5rem;

            @include media-breakpoint-down(md) {
                margin-left: 0;
            }
        }

        p{
            margin-left: 7rem;

            @include media-breakpoint-down(md) {
                margin-left: 0;
            }
        }
    }
}