.section{
    &.bg{
        height: 650px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: rgba(184, 130, 92, 0.07);

        @include media-breakpoint-down(md) {
            height: auto;
            padding: 30px 0;
        }

        p{
            max-width: 750px;
            margin: 0 auto;
        }

        .btn-default.btn-white{
            color: $r-pink;
            border-color: $r-pink;
    
            &:hover, &::before, &::after{
                background-color: $r-pink;
                color: $white;
            }
        }
    }
}