// Animation
[data-animation="title"],
[data-animation="paragraph"]{
    span {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
