/* Your Project Official Font - These is the stylesheet to include Brand Font to web puclications */

//@font-face {
//	font-family: 'FontName';
//	src: url('../fonts/FontName.eot');
//	src: url('../fonts/FontName.eot?#iefix') format('embedded-opentype'),
//	url('../fonts/FontName.woff2') format('woff2'),
//	url('../fonts/FontName.woff') format('woff'),
//	url('../fonts/FontName.otf') format('opentype'),
//	url('../fonts/FontName.ttf') format('truetype'),
//	url('../fonts/FontName.svg#') format('svg');
//	font-weight: 300;
//	font-style: normal;
//	font-stretch: normal;
//}

//@font-face {
//	font-family: 'Jost';
//	src: url('../../fonts/Jost-Italic-VariableFont_wght.ttf');
//	font-style: normal;
//	font-stretch: normal;
//}
//
//@font-face {
//	font-family: 'Gloock';
//	src: url('../../fonts/Gloock-Regular.ttf');
//	font-style: normal;
//	font-stretch: normal;
//}

/*
// ICON SET
*/

// i {
//     /* use !important to prevent issues with browser extensions that change fonts */
//     font-family: 'FontName' !important;
//     speak: none;
//     font-size: 1rem;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     vertical-align: middle;
//     line-height: initial;

//     display: inline-block;

//     /* Better Font Rendering =========== */
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// @import '../abstracts/_charset.scss';

[class*='icon-']{
	display: inline-block;

	&:before{
		content: '';
		display: block;
		height: 1em;
		width: 1em;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.icon-example {
	&:before {
		background-image: url('../img/vectors/icon-example.svg');
	}
}