<div class="container">
    <div class="row">
        <div class="col-4 logo-footer d-block">
            <img src="{{Image(holder.logo_short).src}}" alt="{{Image(holder.logo).alt}}" class="img-fluid text-start mb-5 d-block" />
            <div class="address d-block">
                <p>{{holder.headquarter.address}}, {{holder.headquarter.house_number}}<br/> {{holder.headquarter.zip_code}}
                    {{holder.headquarter.city}} {{holder.headquarter.province}}, {{__('Albania','procoder')}}
                </p>
                <p>
                    Ph: <a href="tel: {{ holder.registry.phone }}">{{ holder.registry.phone }}</a>
                </p>
            </div>
        </div>
        <div class="col-4 menu-footer d-block">
            <div class="d-block">
                <p>
                    <a href="#">About Us</a>
                </p>
                <p>
                    <a href="#">ProCoders</a>
                </p>
                <p>
                    <a href="#">Other Link</a>
                </p>
            </div>
        </div>
        <div class="col-4 menu-footer d-block">
            <div class="d-block">
                <p>
                    <a href="#">Contacts</a>
                </p>
                <p>
                    <a href="#">Option List</a>
                </p>
                <p>
                    <a href="#">Option List</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row copyright-bar info py-4">
        <div class="col-5">
            <p class="text-start">@2023 Procoder {{ holder.registry.vat }}</p>
        </div>
        <div class="col-2">
            <a href="mailto: {{ holder.registry.email }}">{{ holder.registry.email }}</a>
        </div>
        <div class="offset-1 col-4">
            <a href="{{options.pages.privacy}}" target="_blank" class="text-decoration-underline">{{__('Privacy Policy','procoder')}}</a>
        </div>
    </div>
</div>