{# ⚠️ This is only an example, put your HTML/TWIG in there #}
<div class="container">
    <nav class="navbar">

        <div class="navbar-brand">
            <a href="{{ site.link }}" target="_self" class="logo">
                {% if 'svg' in holder.logo.subtype %}
                    {{ Image(holder.logo).src|get_svg_from_file }}
                {% else %}
                    <img id="header-logo"
                         src="{{ Image(holder.logo ? holder.logo : site.theme.link ~ '/dist/img/vectors/logo-b-ahead.svg').src }}"
                         alt="{{ Image(holder.logo ? holder.logo : site.theme.link ~ '/dist/img/vectors/logo-b-ahead.svg').alt }}"
                         class="img-fluid"/>
                {% endif %}
            </a>
        </div>

        <ul class="nav quick-menu d-none d-lg-flex justify-content-end col-lg-11 pt-4">
            {% for item in primary_menu.get_items %}
                <li class="nav-item {{ item.class }}{% if item.children | length > 0 %}dropdown{% endif %}">


                    <a class="nav-link" target="{{ item.target }}" href="{{ item.link }}"
                       data-children='{{ function('json_encode', item.children) }}'>
                        {{ item.title }}</a>
                    {% if item.children | length > 0 %}
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for subitem in item.children %}
                                <li class="">
                                    <a class="dropdown-item" target="{{ subitem.target }}"
                                       href="{{ subitem.link }}">{{ subitem.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>


        <div id="actions" class="nav actions">
            <button id="menu-toggler">
                <div class="menu-toggler-bar"></div>
                <div class="menu-toggler-bar"></div>
                <div class="menu-toggler-bar"></div>
            </button>
        </div>

        {# MAIN Menu #}
        <div id="main-menu">
            <div class="align-middle menu-container px-3 pb-3 px-md-5 pb-md-5 menu">
                <div class="container h-100 align-middle">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-auto d-flex flex-column w-100">
                            {% include "partials/mainmenu.twig" with {
                                'menu': primary_menu.get_items,
                                'classes': 'flex-column align-items-start modalmenu'
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>    