<article
        class="col-sm-12 col-md-4 align-middle px-3 my-5 {{ cols }} tease tease-{{ item.post_type }} article {{ item.categories()[0].slug }} {{ classes }}"
        id="tease-{{ item.ID }}"
        data-terms="{% for term in item.get_terms('state') %}{{ term.slug }} {% endfor %}" {{ attributes }}
        data-loop="{{ loop.index }}">



    {% set details = item.get_field('option_details') %}

    {% block content %}
        <div class="thumbnail">
            <img class="cover no-hover" src="{{ Image(details.icon).src }}" alt="{{ Image(details.icon).alt }}" />
            <img class="cover hover" src="{{ Image(details.icon_hover).src }}" alt="{{ Image(details.icon_hover).alt }}" />
            <p class="mb-3">{{ details.description }}</p>
        </div>
    {% endblock %}
</article>
