footer {
    color: $white;
    font-weight: 600;
    padding: 3rem 0;
    text-align: center;
    font-family: $primary-font;

    p{
        color: $white;
        font-family: $primary-font;
        a {
            font-family: $primary-font !important;
        }
    }

    .address{
        margin-bottom: 4rem;
        text-align: left;
        font-family: $primary-font !important;
        font-weight: 500;
    }

    .info{
        border-top: 1px solid #642417;
        margin: 0 auto;
    }

    i{
        margin-left: 1.5rem;
    }

    .menu-footer {
        padding-top: 3rem;

        p {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 2rem;
            padding-bottom: 3rem;
            font-family: $primary-font;

            a {
                font-family: $primary-font;
            }
        }
    }

    .copyright-bar {
        p {
            font-family: $primary-font;
            font-weight: 500;
        }

        a {
            font-family: $primary-font;
            font-weight: 500;
        }
    }
}
