*{
    &::selection{
        color: mix($white,complement($blue),40%) !important;
    }
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body{
    // overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}


.container{
    @include media-breakpoint-up(xl) {
        max-width: 1150px;
    }
}

main,
#app{
    // position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 6rem;

    @include media-breakpoint-down(lg){
       padding-top: 60px;
    }

    @include media-breakpoint-down(md){
        padding-top: 153px;
    }

     @include media-breakpoint-down(sm){
        padding-top: 91px;
    }
}

.app-page{
    // position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    // pointer-events: none;

    .app-scroll{
        will-change: transform;
        z-index: 2;
    }
}

section{
    position: relative;
    z-index: 1;
}

// Optional 'Visually Hide GRecaptcha'
.grecaptcha-badge{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
