header {
  //position: fixed;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding-top: 3rem;
  transition: all .5s ease;
  // will-change: transform;
  // transition: transform .25s ease;

  @include media-breakpoint-down(lg) {
    padding-top: 1rem;
  }

  &.active {

    .navbar-brand {
      z-index: -1;
    }

    .navbar {
      z-index: -1;

      .quick-menu {
        z-index: -1;
      }

    }

  }

  //&.active {
  //    // padding-top: 0;
  //    transition: all .5s ease;
  //
  //    .navbar-brand {
  //        // position: relative;
  //        // left: 0;
  //        // transform: none;
  //        // width: auto;
  //        transition: all .5s ease;
  //
  //    }
  //
  //    .navbar {
  //        transition: all .5s ease;
  //        padding: 3rem 0;
  //
  //        @include media-breakpoint-down(md) {
  //            // padding: 0;
  //            transition: all .5s ease;
  //        }
  //
  //    }
  //
  //    .logo{
  //
  //        @include media-breakpoint-up(md) {
  //            transform: scale(.5) translateY(-43%);
  //            transition: all .4s ease-in;
  //        }
  //    }
  //}

  .navbar {
    will-change: padding-top, padding-bottom;
    transition: padding 1s ease;
    padding: 1.5rem 0;

    li {
      a {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0;
        color: white;
        margin: {
          right: 4.5rem;
          left: 4.5rem;
        }

        @include media-breakpoint-down(lg) {
          font-size: 3rem;
          margin-bottom: 2rem;

          &:hover {
            color: $r-violet;
          }
        }
      }
    }

    @include media-breakpoint-down(lg) {
      padding-top: 1rem !important;
      padding-bottom: 0 !important;
    }
  }

  // Brand
  .navbar-brand {
    z-index: 1;
    margin-right: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 100%;
    text-align: center;
    transition: all .3s ease;
    padding: 1.5rem;


    @include media-breakpoint-down(lg) {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      width: auto;
    }

    .logo {
      display: block;
      will-change: width, opacity, transform;
      transition: width 1s ease, opacity .5s ease, transform 1.2s ease;

      img {
        width: 80%;

        @include media-breakpoint-up(md) {
          width: 100%;
        }
      }
    }
  }

  // QUICK MENU
  .quick-menu {
    font: {
      family: $heading-font;
      weight: 700;
    }

    letter-spacing: -.05ch;
    z-index: 1;

    .current-menu-item {
      color: $black;
      font-weight: bold;
    }
  }

  // MENU TOGGLER
  #menu-toggler {
    display: block;
    position: relative;
    padding: .5em;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    z-index: 10;
    pointer-events: all;
    cursor: pointer;
    will-change: opacity, transfrom;
    transition: opacity .7s ease, margin-right .7s ease, transform .5s ease;
    margin-right: 0;

    &:focus-visible {
      outline: unset;
    }

    .menu-toggler-bar {
      display: block;
      margin-top: .35rem;
      height: 1.5px;
      width: 100%;
      background-color: $white;
      will-change: margin, width, background-color, transform;
      transition: margin .2s ease, width .2s ease, transform .2s ease, background-color .4s ease;

    }

    &.active {

      transform: rotate(180deg) scale(.8);
      margin-right: -4rem;
      transition: opacity .7s ease, margin-right .7s ease, transform .5s ease;
      position: fixed;
      top: 5rem;

      .menu-toggler-bar {
        &:nth-child(1) {
          width: 100%;
          transform: translate(0, 50%) rotate(-45deg);
        }

        &:nth-child(2) {
          margin-top: 0;
          width: 100%;
          transform: translate(0, -50%) rotate(45deg);
        }

        &:nth-child(3) {
          margin-top: -0.35rem;
          width: 100%;
          transform: translate(0, 120%) rotate(180deg);
          //transform: translate(0, 50%) rotate(0deg);
        }
      }

      @include media-breakpoint-down(md) {
        right: 5rem;
        margin-right: 0;
        transform: none;
      }
    }
  }

  //ACTIONS
  .action {
    //
  }

  // Main Menu + Minicart
  #main-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    padding-top: 0 !important;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 0;
    background: transparent;
    transition: 0.3s all;


    .menu-container {
      display: flex;
      position: fixed;
      top: 0;
      right: -30%;
      bottom: 0;
      padding-top: 0 !important; // header.outerHeight
      width: 30%;
      overflow-y: hidden;
      overflow-x: hidden;
      z-index: 1;
      background-color: $r-pink;
      //transform: translate(0, -100%);
      //transform: translate(0, 100%) rotate(90deg);
      //will-change: padding, transform;
      //transition: padding 1s ease, transform .7s ease;
      pointer-events: none;


      // @include media-breakpoint-down(md) {
      //     width: auto;
      //     transform: translate(100%, 0);
      // }

      // @include media-breakpoint-down(md) {
      //     padding-top: 138px !important; // header.outerHeight
      //     min-width: 330px;
      //     max-width: 350px;
      // }

      @include media-breakpoint-down(md) {
        width: 100%;
        right: -100%;
      }

    }


    &.active {
      background: rgba($r-black, .7);
      width: 100%;
      height: 100%;
      transition: 0.3s all;
      transform: translate(-100%, 0);

      .menu-container {
        //transform: translate(0, 0);
        pointer-events: all;
        transform: translate(-100%, 0);
      }
    }
  }

  .modalmenu {

    li {
      a {
        font-size: 4.4rem;
        font-weight: 500;
        text-transform: inherit;
        padding: 1rem 0;
        color: white;
        margin-right: 0;
        margin-left: 0;


        @include media-breakpoint-down(md) {
          font-size: 2rem;
        }

      }
    }

    @include media-breakpoint-down(md) {
      padding-left: 2rem;
    }

  }

  .menu-social {
    li {
      a {
        font-size: 4.4rem;
        font-weight: 500;
        text-transform: inherit;
        padding: 1rem 0;
        color: white;
        margin-right: 0;
        margin-left: 0;
      }
    }

    .social-links {
      position: absolute;
      bottom: 10%;
      left: 1rem;
      display: inline-flex;

      p {
        font-size: 2.2rem;
        font-weight: 100;
        text-transform: uppercase;
        color: white;
        letter-spacing: 3px;
        display: inline-flex;
        width: auto;
        margin: 1rem auto;
        text-align: left;
        margin-right: 3rem;
        padding: 0;

        @include media-breakpoint-down(md) {

          &:first-of-type{
            text-align: left;
            width: 100%;
            font-size: 1.4rem;
            margin: 0;
            padding: 1rem 2rem;
          }
        }
      }

      .socials {
        display: inline-flex;
        width: auto;
        margin-top: -0.2rem;


        a {
          display: inline-flex;
          color: white;

          i {
            display: inline-flex;
            color: white;
            width: auto;
            height: auto;
            font-size: 3rem;
          }
        }

        img {
          width: 100%;
          display: inline-flex;
          min-width: 3.5rem;
          height: auto;
        }
      }

      @include media-breakpoint-down(md) {
        bottom: 0;
        left: 0;
      }
    }
  }

}